@use 'mixins/mixins.scss' as *;

@include b(radio) {
  display: inline-flex;
  align-items: center;
  color: var(--z-color-text-regular);
  font-size: var(--z-font-size-base);
  line-height: var(--z-line-height-base);
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  &__input {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 14px;
    height: 14px;
  }

  &__inner {
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    border: 1px solid var(--z-color-border);
    border-radius: 50%;
    background: var(--z-color-bg);
    transition: border-color var(--z-transition-duration) var(--z-transition-function),
      background-color var(--z-transition-duration) var(--z-transition-function);
  }

  input {
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: inherit;

    &:checked + .z-radio__inner {
      border-color: var(--z-color-primary);
    }

    &:checked + .z-radio__inner::after {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: var(--z-color-primary);
      content: '';
    }

    &:focus-visible + .z-radio__inner {
      outline: var(--z-focus-outline);
      outline-offset: 1px;
    }
  }

  &__label {
    margin-left: var(--z-spacing-2);
  }

  @include m(small) {
    font-size: var(--z-font-size-small);

    .z-radio__input {
      transform: scale(0.9);
    }
  }

  @include m(large) {
    font-size: var(--z-font-size-large);

    .z-radio__input {
      transform: scale(1.1);
    }
  }

  @include when(disabled) {
    color: var(--z-color-text-placeholder);
    cursor: not-allowed;

    .z-radio__inner {
      border-color: var(--z-color-border-light);
      background: var(--z-color-fill);
    }

    input:checked + .z-radio__inner {
      border-color: var(--z-color-border-light);

      &::after {
        background: var(--z-color-text-placeholder);
      }
    }
  }
}

@include b(radio-group) {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--z-spacing-3);
  align-items: center;
}

